@font-face {
    font-family: 'jojobaregular';
    src: url('jojoba-webfont.woff2') format('woff2'),
         url('jojoba-webfont.woff') format('woff');

}

@font-face {
    font-family: 'pleasewritemeasongmedium';
    src: url('please_write_me_a_song-webfont.woff2') format('woff2'),
         url('please_write_me_a_song-webfont.woff') format('woff');

}