@font-face {
    font-family: 'jojobaregular';
    src: url('jojoba-webfont.woff2') format('woff2'),
         url('jojoba-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}